.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
src/**
out/**
rails/**
tools/**
docs/**
node_modules/**
!node_modules/@anthropic-ai/**

**/*.ts
**/*.map
**/tsconfig.json
esbuild.js
eslint.config.mjs
.editorconfig
.prettierrc
.gitignore
.env
*.vsix
